@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Monomakh&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shafarik&display=swap');

body, html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #0A192F;
    color: #eecd90;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}
.navbar a:link{
    color: #eecd90;
    text-decoration: none;
}
.navbar a:visited{
    color: #eecd90;
}
.navbar a:hover{
    color: #eecd90;
    text-decoration: underline;

}
.line{
    border: 0.1px solid #eecd90;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 6px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.navbar ul {
    gap: 80px;
    list-style: none;
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    color: #eecd90;
    cursor: pointer;
}


.hamburger{
    height: 100%;
    width: 50%;
    display: flex;
    position: fixed;
    flex-direction: column;
    position: fixed;
    background-color: #eecd90;
    padding: 23px;
    z-index: 999;
    display: none;
}
.sidebarul{
    color: #0A192F;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 39px;
    padding: 32px;
}
.hamburger a:link{
    color: #0A192F;
    text-decoration: none;
}
.hamburger a:visited{
    color: #0A192F;
}
.hamburger a:hover{
    color: #0A192F;
    text-decoration: underline;

}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.imgportfolioH{
    height: 150px;
    width: 150px;
}
.menu-btn{
    display: none;
}
@media (max-width: 1114px){
    .menu-btn{
        display: block;
    }
    .navbar ul li:not(.menu-btn) {
        display: none;
    }
}


.introContainer{

    display: flex;
    justify-content: center;
    gap: 14px;
    padding: 125px;
}
.introContainer a{
    color: black;
}

.selfImg{
    border-radius: 332px;
    border: 5px solid white;
    height: 442px;
    width: 301px;
    animation:selfImgAni 3s ease-in-out 0.1s 1;
}
@keyframes selfImgAni {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0deg);
    }

}
.intro h1{
    font-family: Monomakh;
    font-size:65px;
    margin-top: 57px;
}
.intro p{
    font-family: Shafarik;
    font-size: 23px;
    padding-top: 13px;

}
@keyframes typing{
   0% { content: ""; }
  5% { content: "I"; }
  10% { content: "I "; }
  15% { content: "I a"; }
  20% { content: "I am"; }
  25% { content: "I am "; }
  30% { content: "I am U"; }
  35% { content: "I am Ut"; }
  40% { content: "I am Utk"; }
  45% { content: "I am Utka"; }
  50% { content: "I am Utkar"; }
  55% { content: "I am Utkars"; }
  60% { content: "I am Utkarsh"; }
  65% { content: "I am Utkarsha"; }
  70% { content: "I am Utkarsha "; }
  75% { content: "I am Utkarsha F"; }
  80% { content: "I am Utkarsha Fo"; }
  85% { content: "I am Utkarsha Fol"; }
  90% { content: "I am Utkarsha Fole"; }
  100% { content: "I am Utkarsha Fole"; } /
}
@keyframes blink{
    0%, 100% {opacity: 1;}
    %0%{opacity:0;}
}
.typewriter {
  --caret: #d9072b; /* Set caret color */
  color: #d9072b; /* Set text color */
}
.typewriter::before {
    content: "";
    animation: typing 5s steps(20, end) 1 forwards; /* Typing animation */
}

.typewriter::after {
    content: "|";
    animation: blink 0.5s linear infinite;
    color: var(--carat);
}

/* Hide the cursor after typing */
@keyframes hideCursor {
    0%, 100% { opacity: 1; }
    99% { opacity: 1; }
    100% { opacity: 0; }
}

.typewriter.finished::after {
    animation: hideCursor 1s forwards;
}

.contacts ul{
    list-style-type: none;
    display: flex;
    gap: 23px;
    padding-top: 34px;
}

.knowBtn{
    border-radius: 56px;
    margin-top: 23px;
    padding: 13px;
    cursor: pointer;
}
.knowBtn a{
    text-decoration: none;
}
.knowBtn a:hover {
    background-color: #c8c3c3;
    text-decoration: underline;
}
.knowBtn a:visited{
    text-decoration: none;
}

.introductionPage{

    padding: 152px;
}
.introductionPage h1{
    font-family: Monomakh;
    font-size: 65px;
    display: flex;
    justify-content: center;
}
.aboutPara{
    font-family: Shafarik;
    font-size: 23px;
}
.intro2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;
    gap: 62px;
}
.selfImg2{
    width: 331px;
    min-height: 305px;
}

.services{
    padding: 74px;
}
.services h1{
    font-family: Monomakh;
    font-size: 65px;
    display: flex;
    justify-content: center;
}
.servdiv{
    display: flex;
    gap: 34px;
    padding-top: 54px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border: 3px solid #eecd90;
    padding: 34px;
    display: flex;
    color: #eecd90;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - 40px);
    max-width: 350px;
    min-width: 250px;
    cursor: pointer;
    top: 10px;
    position: relative;
}


.card:hover {
    transition: 0.3s ease-in-out;
    top: 0;
}

.skills{

    padding: 34px;
}
.skills h1{
    font-family: Monomakh;
    font-size: 65px;
    display: flex;
    justify-content: center;
}
.skills h2{
    font-family: Shafarik;
    font-size: 45px;
    padding: 23px;
}
.techSkill{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px;
    gap: 23px;
    margin: 41px;
}

.profSkill{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px;
    gap: 23px;
    margin: 41px;
}
.skill-container{
    display: flex;
    flex-direction: row;
    gap: 69px;
    flex-wrap: wrap;
}
.inputCont{
    width: 100%;
    display: flex;
    justify-content: center;
}
input[type="range"] {
    width: 100%;
    max-width: 955px;
}
.skill svg circle {
    fill: none;
    stroke: #ddd;
    stroke-width: 10;
}

/* Progress Circle */
.skill svg .progress {
    stroke: #ff5733;
    stroke-width: 10;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 314; /* Full circle length (2 * π * r) */
    stroke-dashoffset: 314; /* Hidden initially */
    transition: stroke-dashoffset 1s ease-in-out;
}

/* Skill percentage text */
.skill text {
    font-size: 18px;
    font-weight: bold;
    fill: #ff5733;
}


.projects{
justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectsContainer{
    gap: 23px;
    padding: 54px;
    justify-content: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;
}
.projects h1{
    font-family: Monomakh;
    font-size: 65px;
    display: flex;
    justify-content: center;
    padding: 34px;
}
.projectCard{
    border: 3px solid #eecd90;
    display: flex;
    min-width: 250px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    padding: 23px;
    position: relative;
    top: 10px;
    cursor: pointer;
}
.projectCard:hover{
    top: 0;
    transition: 0.3s ease-in-out;
}
.projectCard h2{
    font-family: Shafarik;
    font-size: 40px;

}
.projectCard img{
    max-width: 100%; /* Ensures the image scales within the container */
    height: auto; /* Maintains aspect ratio */
    padding: 14px;
    object-fit: contain; 
}
.projectCard a{
    text-decoration: none;
    color: #eecd90;
}
.projectCard a:hover{
    text-decoration: underline;
}

.contactRight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.contactme h1{
    font-family: Monomakh;
    font-size: 65px;
    display: flex;
    justify-content: center;
    padding: 34px;
}
.contactbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 43px;
}
.phoneNo, .email{
    display: flex;
    align-items: center;
    gap: 5px;
}
.lastbox{
    gap: 14px;
    display: flex;
    flex-direction: column;
    padding: 23px;
}
.formsub{
    gap: 9px;
    display: flex;
    flex-direction: column;
}
.sub-btn{
    border-radius: 6px;
    width: 70%;
    color: white;
    background: #d9072b;
    font-size: 15px;
    padding: 12px;
    cursor: pointer;
}
form input, form textarea{
    border-radius: 4px;
    padding: 8px;
    background-color: #b5a1a1;
    font-size: 18px;
    width: 100%;
}
.cvBtn{
    border-radius: 6px;
    width: 15%;
    background: #d9072b;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 19px;
    margin-top: 12px;
    padding: 12px;
    color: white;
}
.copyright{
    background-color: #6a5959;
    color: white;
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
}
#msg{
    display: flex;
    color: white;
    padding: 12px;
    margin-top: 12px;
    width: 20%;
}
@media (max-width: 1350px){
    .introContainer{
        flex-wrap: wrap;
    }
    .servdiv{
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
    }
    .contactRight{
        width: 70%;
    }
    .imgutku{
        height: 36vh;
        width: 20vw;
    }
    .intro2{
        flex-wrap : wrap;
    }
}
@media (max-width: 850px){
    .imgutku{
        height: 17vh;
        width: 26vw;
    }

}
